USE [master]
GO
/****** Object:  Database [RestoranApp]    Script Date: 19.12.2022 22:48:22 ******/
CREATE DATABASE [RestoranApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RestoranApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RestoranApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RestoranApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RestoranApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RestoranApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RestoranApp]
GO
/****** Object:  Table [dbo].[tblGecmisSiparisler]    Script Date: 19.12.2022 22:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGecmisSiparisler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[HesapTutari] [int] NULL,
	[MasaNo] [int] NULL,
	[SiparisTarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGunSonu]    Script Date: 19.12.2022 22:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGunSonu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[gnCiro] [int] NOT NULL,
	[tarih] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblKullanici]    Script Date: 19.12.2022 22:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKullanici](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[KulAdi] [varchar](30) NOT NULL,
	[KulSifre] [varchar](30) NOT NULL,
	[Adi] [varchar](30) NULL,
	[Soyadi] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMasaNumarasi]    Script Date: 19.12.2022 22:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMasaNumarasi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[masaNo] [int] NOT NULL,
	[MasaDurum] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSiparis]    Script Date: 19.12.2022 22:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSiparis](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdet] [varchar](41) NOT NULL,
	[UrunId] [int] NULL,
	[MasaNo] [int] NULL,
	[SiparisTarihi] [date] NULL,
	[SiparisGuncellemeTarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblYemek]    Script Date: 19.12.2022 22:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblYemek](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[YemekAdi] [varchar](30) NOT NULL,
	[YemekFiyat] [int] NOT NULL,
	[katId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblYemekkategori]    Script Date: 19.12.2022 22:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblYemekkategori](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblSiparis]  WITH CHECK ADD  CONSTRAINT [fkMasaNo] FOREIGN KEY([MasaNo])
REFERENCES [dbo].[tblMasaNumarasi] ([id])
GO
ALTER TABLE [dbo].[tblSiparis] CHECK CONSTRAINT [fkMasaNo]
GO
ALTER TABLE [dbo].[tblSiparis]  WITH CHECK ADD  CONSTRAINT [fkUrunSiparis] FOREIGN KEY([UrunId])
REFERENCES [dbo].[tblYemek] ([id])
GO
ALTER TABLE [dbo].[tblSiparis] CHECK CONSTRAINT [fkUrunSiparis]
GO
ALTER TABLE [dbo].[tblYemek]  WITH CHECK ADD  CONSTRAINT [fk_kat] FOREIGN KEY([katId])
REFERENCES [dbo].[tblYemekkategori] ([id])
GO
ALTER TABLE [dbo].[tblYemek] CHECK CONSTRAINT [fk_kat]
GO
USE [master]
GO
